<ul class="accordion-tabs-minimal">
  <li class="tab-header-and-content">
    <a href="#" class="tab-link is-active">All Messages</a>
    <div class="tab-content">
		<%= render "index_table" %>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">All Broadcasts</a>
    <div class="tab-content">
		<%#= render "roster_broadcasts_table" %>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Message Scripts</a>
    <div class="tab-content">
		<%= render "/message_scripts/message_scripts_table" %>
    </div>
  </li>
  <!-- <li class="tab-header-and-content">
    <a href="#" class="tab-link">Third</a>
    <div class="tab-content">
      <p>
		  content goes here
	  </p>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Last Item</a>
    <div class="tab-content">
      <p>Ccontent for third tab goes here.</p>
    </div>
  </li> -->
</ul>
