<style type="text/css" media="screen">
.form-inputs {
    max-width: 300px;
    text-indent: 15px; 
}
</style>

<% if current_user_subscribed? %>
	<h1>New Message</h1>
	<%= render 'form', message: @message %>

	<%= link_to 'Back', messages_path %>
<% else %>
	<p>
		Hi there,<br />
		
		It looks like you need to create your subscription for part of this service.<br />
		<%= button_to "Subscribe to send messages", new_subscription_path, method: :get %>
		
	</p>
		
<% end %>

