<style type="text/css" media="screen">
.form-inputs {
    max-width: 300px;
    text-indent: 15px; 
}
</style>
<h1>New Message</h1>
<%= button_to "subscribe", new_subscription_path, method: :get %>
<%= render 'form', message: @message %>

<%= link_to 'Back', messages_path %>
