<h1>New Roster</h1>

<%= render 'form', roster: @roster %>


<%= link_to 'Back', rosters_path %>
<pre>
	= simple_form_for @project do |f|
	  = f.input :name, :hint => 'The title of your project'

	  ul.nav.nav-tabs role='tablist'
	    li
	      = link_to 'Tags (:has_many :through)', '#tags', data: {toggle: 'tab'}

	  .tab-content

	    #tags.tab-pane role='tabpanel'
	      = f.simple_fields_for :project_tags do |project_tag|
	        = render 'project_tag_fields', :f => project_tag
	      = link_to_add_association 'add a tag', f, :project_tags

	  .actions
	    = f.button :submit, :disable_with => 'Please wait ...'
	
</pre>