// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_contact {
	max-width: 450px;
}
#contact_roster_ids {
	max-width: 450px;
}
.select {
	max-width: 450px;
}
