<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Welcome!</title>
	</head>
	<body>
		<p>Welcome to the flywheel</p>
		
		<p><a href="/backstage">Let's get to work</a></p>
	</body>
</html>
