	<div class="centered-buttons">
		<p><%= button_to "Contacts", contacts_path, method: "get", class: "contacts button" %></p>
		<p>&nbsp;</p>
		<p><%= button_to "Send Text", new_message_path, method: "get", class: "text-message button"  %></p>
		<p>&nbsp;</p>
		<!-- <p><%= button_to "Settings", new_contact_path, method: "get", class: "settings button"  %></p>
		<p>&nbsp;</p> -->
		<p><%= button_to "Add Contact", new_contact_path, method: "get", class: "add-contact button"  %></p>
	</div>
	

